<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TrainStream editor</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />

        <script src="https://cdn.jsdelivr.net/npm/angular@1.8.2/angular.min.js"></script>
        <script src="assets/js/ui-bootstrap-custom-tpls-3.0.6.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.0/base64.min.js"></script>

        <script id="glob-data" type="application/json">
            {
                "GITHUB_CLIENT_ID": "{{ site.GITHUB_CLIENT_ID }}",
                "GITHUB_REPOSITORY": "{{ site.GITHUB_REPOSITORY }}"
            }
        </script>
    </head>
    <body>
        <div class="container py-3">{{ content }}</div>
    </body>
</html>
