---
---

<div ng-app="editApp" ng-controller="MainController as vm">
    <div ng-if="!vm.isLoggedIn" ng-include="'assets/template/sign-in.html'"></div>
    <div ng-if="vm.isLoggedIn" ng-include="'assets/template/editor.html'"></div>
</div>

<script src="assets/main.js"></script>

<script>
    // const token = localStorage.getItem('gh-token');
    // // if (!token) {
    // // }

    // $.ajaxSetup({
    //     headers: {
    //         Authorization: `token ${token}`,
    //         Accept: 'application/vnd.github.v3+json',
    //     }
    // });

    // const path = '_data/test.json';
    // const repo = 'altbdoor/trainstream.github.io'

    // $.get(`https://api.github.com/repos/${repo}/contents/${path}`).then((originalFile) => {
    //     console.log('aa', originalFile.sha)

    //     $.ajax({
    //         method: 'PUT',
    //         data: JSON.stringify({
    //             path,
    //             message: `test update file ${new Date().toISOString()}`,
    //             content: btoa(JSON.stringify({ updated: Date.now() }, null, 4)),
    //             sha: originalFile.sha,
    //         }),
    //         contentType: 'application/json',
    //         url: `https://api.github.com/repos/${repo}/contents/${path}`
    //     }).then((data) => {
    //         console.log(data);
    //     })
    // })

</script>
